<a href="https://colab.research.google.com/github/AhmadAlabrash/DataSceince/blob/main/excel_to_csv_ipyb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import pandas as pd
  
# Read and store content
# of an excel file 

read_file = pd.read_excel ("/content/balance.xlsx")
  
# Write the dataframe object
# into csv file

read_file.to_csv ("Test.csv",  index = None, header=True)
    
# read csv file and convert 
# into a dataframe object
df = pd.DataFrame(pd.read_csv("Test.csv"))

In [10]:
df

,1101,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 3989,Unnamed: 3990,Unnamed: 3991,Unnamed: 3992,Unnamed: 3993,Unnamed: 3994,Unnamed: 3995,Unnamed: 3996,Unnamed: 3997,Unnamed: 3998
0,0,34,68,102,136,170,204,238,272,306,...,135626,135660,135694,135728,135762,135796,135830,135864,135898,135932
1,135966,136000,136034,136068,136102,136136,136170,136204,136238,136272,...,271592,271626,271660,271694,271728,271762,271796,271830,271864,271898
2,271932,271966,272000,272034,272068,272102,272136,272170,272204,272238,...,407558,407592,407626,407660,407694,407728,407762,407796,407830,407864
3,407898,407932,407966,408000,408034,408068,408102,408136,408170,408204,...,543524,543558,543592,543626,543660,543694,543728,543762,543796,543830
4,543864,543898,543932,543966,544000,544034,544068,544102,544136,544170,...,679490,679524,679558,679592,679626,679660,679694,679728,679762,679796

Warning: Total number of columns (3999) exceeds max_columns (20) limiting to first (20) columns.