<a href="https://colab.research.google.com/github/AhmadAlabrash/DataSceince/blob/main/gradient_descent.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [87]:
from sklearn.metrics import r2_score

In [ ]:
df = pandas.read_csv('/content/baseball_stats.csv')
df =df.iloc[:,4:]
df = normalaize(df)[2]
#df = pd.DataFrame(df)
x= df.iloc[:,:]

y = df.iloc[:,1]

theta =0.00008
alpha = 0.1
x.dtypes

In [64]:
import numpy as np
from numpy import random
import pandas as pd

def run_gradient_descent(x,y,alpha,num_iterations):


  b=random.random()
  theta=np.random.rand(x.shape[1])

  iter_num=0
  gd_iterations_df=pd.DataFrame(columns=['iteration','cost'])
  

  for each_iter in range(num_iterations):
    
    prev_b = b
    prev_theta = theta

    y_hat= b + np.dot(x,theta)

    db = (np.sum(y_hat-y)*2)/len(y)
    dw = (np.dot((y_hat-y),x)*2)/len(y)
    b     = prev_b - alpha * db
    theta = prev_theta - alpha * dw

    if(iter_num%10==0):

      cost=cost_j(y,y_hat)
      gd_iterations_df.loc[iter_num]=[iter_num,cost]
      iter_num +=1

  print('Final Estimate of b and theta : ',b,theta)
  return len(gd_iterations_df),b,theta

In [8]:
def normalaize (dataf):

  mean = dataf.mean()
  st = dataf.std()

  if (st == 0).any():
    raise "you have upload same column two times or more"
  else :
     dataf_normalized = (dataf - mean) / st 

  return mean , st , dataf_normalized

In [85]:
def cost_j (y,y_hat):
  
  y_res = y - y_hat
  
  j = np.sum (np.dot(y_res.T ,y_res))  / len(y-y_res)
  return j

In [86]:
def coff (x, y, y_hat):

  r_seq = np.square(y-y_hat).sum()
  r_seq = np.square(y-x).sum() / r_seq

  r_seq = 1 - r_seq
  return r_seq

In [94]:
def gradeint_desc(x , y ,alpha ,iter_number) :

  gradeint_table = pd.DataFrame(columns=['id','cost','coffeicient','theta','beta'])
  
  # to intilaize beta as random
  b= random.random()

  # to intalaize theta as x columns
  theta = random.rand(x.shape[1])

  for itr in range(iter_number) :

    y_hat = b +(np.dot(x,theta)) 

    db = (np.sum(y_hat - y)*2) / len(y)
    dw = (np.dot((y_hat - y),x)*2) / len(y)

    b = b - alpha * db
    theta = theta  - alpha * db

    if( itr % 10  == 0) :
      cost = cost_j(y,y_hat)
      coffe = r2_score(y,y_hat)
      gradeint_table.loc[itr] = [itr,cost,coffe,theta,b]
      
  coffe = r2_score(y,y_hat)
  cost = cost_j(y,y_hat)  
  print(f'last result is ==>  coffeicient is :  {coffe} , cost is : {cost}') 
  return gradeint_table

In [128]:
gradeint_desc(x,y,0.001,1000)

last result is ==>  coffeicient is :  0.8983021376725515 , cost is : 0.10169226746238129

,id,cost,coffeicient,theta,beta
0,0,0.094498,0.905497,"[0.204915658963127, 0.867160329507411]",0.217734
10,10,0.091896,0.908099,"[0.2005999557041753, 0.8628446262484594]",0.213419
20,20,0.089472,0.910523,"[0.19636979381242511, 0.8586144643567092]",0.209188
30,30,0.087218,0.912777,"[0.19222347777614548, 0.8544681483204296]",0.205042
40,40,0.085124,0.914871,"[0.18815934569027012, 0.8504040162345542]",0.200978
...,...,...,...,...,...
950,950,0.099616,0.900379,"[0.019685629196017306, 0.6819302997403015]",0.032504
960,960,0.100051,0.899944,"[0.019041362326996603, 0.6812860328712808]",0.031860
970,970,0.100480,0.899514,"[0.018409865443656526, 0.6806545359879407]",0.031229
980,980,0.100904,0.899091,"[0.017790885432664518, 0.6800355559769484]",0.030610
990,990,0.101321,0.898673,"[0.01718417419763639, 0.6794288447419203]",0.030003